.title:after {
				content: "";
				width: 90px;
				height: 1px;
				background: #e67e22;
				position: absolute;
				left: 0;
				bottom: -1px;
			}

			.layui-input-radius {
				border-radius: 100px;

			}
			.layui-radius {
				border-radius: 10px;
			
			}



			.layui-shadow {
				box-shadow: 2px 2px 2px #888888;
			}
.Button {
  display: inline-block;
  position: relative;
  text-align: center;
  transition: background-color 500ms, -webkit-transform 100ms;
  transition: background-color 500ms, transform 100ms;
  transition: background-color 500ms, transform 100ms, -webkit-transform 100ms;
  
}
.Button::before {
  content: attr(data);
  width: 200px;
  height: 30px;
  background-color: #EEB868;
  font-size: 1rem;
  border-radius: .25em;
  line-height: 30px;
  bottom: 90px;
  left: calc(50% - 70px);
  font-size: 1px;
  word-wrap: break-word;
  
}
.Button::after {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #EEB868;
  left: calc(50% - 10px);
  bottom: 70px;
}
.Button::before, .Button::after {
  position: absolute;
  opacity: 0;
  transition: all 500ms;
  visibility: hidden;
}
.Button:hover {
  background-color: #01BAEF;
}
.Button:hover .Button__text {
  top: -100%;
}
.Button:hover .Button__icon {
  top: 0;
}
.Button:hover::before, .Button:hover::after {
  opacity: 1;
  visibility: visible;
}
.Button:hover::after {
  bottom: 60px;
}
.Button:hover::before {
  bottom: 80px;
}
.Button:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.footer {
  width: 100%;
  position: absolute;
  bottom:0;
  left:0;
}

